.content{
    width: 100%;
    text-align: center;
    display: inline-block;
    margin-top: -53px;
    position: relative;
    z-index: 5;
}
.content_top .p{
    width: 100px;
    height: 100px;
    background: #1C6CE5;
    color: #fff;
    font-size: 15px;
    text-align: center;
    line-height: 30px;
    padding-top: 10px;
    box-sizing: border-box;
    float: left;
}
.content_top{
    margin-left: 20px;
}
.content_top strong{
    float: left;
    font-size: 15px;
    font-weight: normal;
}
.content_top .shiliangtu{
    float: left;
    margin-left: 38px;
    margin-top:55px;
}
.content_neirong{
    width:300px;
    height: 1925px;
    margin-left: 18px;
}
.content_neirong>ul{
    width:114%;
    float: left;
    font-size: 12px;
}
.content_neirong  ul  li{
	width: 25%;
    height: 40px;
    line-height: 40px;
    float: left;
    color: #333333;
	border-bottom:2px solid #EAEAEA;
	text-align: center;
}
.content_neirong  ul>li:hover{
    color: #1754EA;
	border-bottom:2px solid #1159E5;
}
.content_neirong .tu{
    height: 1882px;
    border-bottom: none;
   margin-top: 20px;
}
.content_neirong .tu li{
    width: 342px;
    height: 290px;
    border: 1px solid #E5E5E5;
}
.content_neirong .tu li img{
    width:100%;
}
.content_neirong .tu li p{
    margin-left: 15px;
    font-size: 20px;
}
.content_neirong .tu li .span1{
    margin-top: 16px;
    margin-left: 15px;
    font-size: 30px;
    color: #9E9E9E;
}
.xia{
    width: 300px;
    height: 80px;
    margin-left: 50px;
}
.xia p{
    width: 120px;
    height: 35px;
    background: #1259E7;
    color: #fff;
    text-align: center;
    line-height: 35px;
    margin-left: 15px;
    float: left;
}
.footer{
    width: 414px;
    height: 168px;
    background: #313131;   
}
.footer p{
    font-size: 12px;
    line-height: 25px;
    color: #B9B9B9;
    margin-left: 10px;
    padding-top: 20px;
    box-sizing: border-box;
}
.lie{
    width: 60px;
    height: 230px;
    position: fixed;
    right:54px;top:16%;
}
.lie .l1,.lie .l2,.lie .l3{
    width: 60px;
    height: 60px;
    background: #075FE5;
    color: #fff;
    font-size: 12px;
    text-align: center;
    margin-bottom: 10px;
}
.lie .l1 .iconfont,.lie .l2 .iconfont,.lie .l3 .iconfont{
    display: inline-block;
    margin-top: 20px;
    margin-left: -5px;
    font-size: 12px;
}
.lie .l4{
    width: 60px;
    height: 60px;
    background: #075FE5;
    text-align: center;
    padding-top: 20px;
    box-sizing: border-box;
}